html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

.sky {
  height: 40%;
  background: skyblue;
}

.grass {
  height: 30%;
  background: seagreen;
}

.parallax {
  position: absolute;
}

.cloud {
  width: 200px;
  top:15em;
}
.cloud-2 {
  width: 280px;
  top: 8em;
}

.tree-2 {
  width: 200px;
  top: 17em;
  right: 500px;
}

/*  felső  */
.tree {
  width: 100px;
  top: 19em;
}
