html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

.icon {
  width: 30px;
  height: 30px;
  fill: #555;
}

.sky {
  height: 38%;
  background: skyblue;
}

.grass {
  height: 30%;
  background: seagreen;
}

.parallax {
  position: absolute;
}

.cloud {
  width: 200px;
  top: 130px;
}
.cloud-2 {
  width: 280px;
  top: 230px;
}

.tree-2 {
  width: 200px;
  top: 250px;
  right: 500px;
}

/*  felső  */
.tree {
  width: 100px;
  top: 310px;
}
